<!--  Product start -->
<div class="border shadow-md m-1 rounded-xl overflow-hidden bg-white relative">
  <img class="w-full h-96 object-cover" ngSrc="{{product.url}}"
       alt="The preview image of product &quot;{{product.name}}&quot;" height="100" width="200">
  <div class="mx-6 mt-14 mb-10 grid grid-cols-2">
    <div>
      <div class=" text-2xl font-bold uppercase">{{product.name}}</div>
      <div class="text-gray-500">{{product.description}}</div>
    </div>
    <div class="flex justify-end">
      <select class="w-20 rounded-lg text-center mx-3" [ngModel]="quantity" (ngModelChange)="onChangeSelection($event)">
        <option *ngFor="let q of quantities" [value]="q">{{q}}</option>
      </select>
      <button class="text-teal-900 text-sm bg-white rounded-full border border-teal-900 mx-1 p-3" (click)="addToCart()">
        <fa-icon [icon]="buttonIcon"></fa-icon>
        {{buttonLabel}}
      </button>
    </div>
  </div>
  <div
    class="bg-gradient-to-br from-teal-600 to-teal-900 text-white text-2xl font-light rounded-md p-4 absolute bottom-28 mx-10 hover:brightness-110">
    <span>${{product.price}}</span>
  </div>
</div>
<!--  Product end -->
