<!--  Order confirmation start  -->
<div class='grid grid-cols-1 text-center'>
  <!--  Thank you message start -->
  <div class='mt-72'>
    <fa-icon [icon]='faBoxOpen' class='text-9xl'></fa-icon>
    <div class='text-2xl mt-4'>
      <p>Thank you {{customerInformation.firstName + ' ' + customerInformation.lastName}} for your order!</p>
    </div>
    <div class='text-lg'>
      <p>We will start packaging your order and send you a confirmation email soon.</p>
    </div>
  </div>
  <!--  Thank you message end -->
</div>
<!--  Order confirmation end  -->
