<!--  Cart component start  -->
<div class="px-80 py-2">
  <!--  Empty cart message start  -->
  <div class="grid grid-cols-1 justify-items-center mt-72" *ngIf="cart.isEmpty()">
    <div class="">
      <fa-icon [icon]="faShoppingCart" class="text-9xl"></fa-icon>
    </div>
    <div class="text-2xl mt-4 text-gray-600">
      Your cart is empty :(
    </div>
    <div class="text-lg">
      You can take a look at our product list, something is bound to catch your 👀!
    </div>
    <div>
      <button class="bg-gradient-to-br from-teal-500 to-teal-700 py-2 px-6 mt-8 text-white rounded-3xl" routerLink="/">
        Continue Shopping
      </button>
    </div>
  </div>
  <!--  Empty cart message end  -->
  <!--  Non-empty cart component start  -->
  <div class="mt-12" *ngIf="!cart.isEmpty()">
    <div class="grid grid-cols-5">
      <!--  Cart product list start  -->
      <div class="col-span-3">
        <!--  Component title start  -->
        <div class="text-4xl uppercase">
          <span>My Cart</span>
        </div>
        <!--  Component title end  -->
        <!--  Product table start -->
        <div class="mt-6">
          <div class="grid grid-cols-5 mb-2">
            <span></span>
            <span class="px-3">Name</span>
            <span class="px-3">Price</span>
            <span class="px-3 col-span-2">Quantity</span>
          </div>
          <div class="grid grid-cols-5 rounded border-t-2 py-3" *ngFor="let cartProduct of cart.cartProducts">
            <!--  Product thumbnail start -->
            <div>
              <img class="h-36 w-24 shadow rounded" ngSrc="{{cartProduct.product.url}}"
                   alt="The preview image of product &quot;{{cartProduct.product.name}}&quot;" height="100"
                   width="200">
            </div>
            <!--  Product thumbnail end -->
            <!--  Product details start -->
            <div class="p-3">
              <span>{{cartProduct.product.name}}</span>
            </div>
            <div class="p-3">
              <span>${{cartProduct.product.price}}</span>
            </div>
            <div class="grid grid-cols-3 p-3">
              <fa-icon [icon]="faMinus" (click)="updateQuantity(cartProduct,-1)"></fa-icon>
              <span>{{cartProduct.quantity}}</span>
              <fa-icon [icon]="faPlus" (click)="updateQuantity(cartProduct,1)"></fa-icon>
            </div>
            <div class="p-3">
              <fa-icon [icon]="faTrashCan" (click)="removeCartProduct(cartProduct)"></fa-icon>
            </div>
            <!--  Product details end -->
          </div>
          <!--  Cart total start  -->
          <div class="grid grid-cols-2 pt-6 border-t-2 justify-items-end">
            <span class="text-lg font-bold">Total</span>
            <span class="text-lg">${{cart.getCartTotal()}}</span>
          </div>
          <!--  Cart total end  -->
        </div>
        <!--  Product table end -->
      </div>
      <!--  Cart product list end  -->
      <!--  Customer info section start  -->
      <div class="col-span-2 ml-4">
        <div class="text-4xl uppercase">
          <span>Customer Info</span>
        </div>
        <!--  Customer information form start -->
        <div class="px-1 mt-6">
          <form [formGroup]="customerInformationForm" (ngSubmit)="submitForm()" class="grid grid-cols-2">
            <div class="grid grid-cols-1 px-1 my-2">
              <label class="mb-1" for="first_name">First Name</label>
              <input class="rounded p-2 border" placeholder="Jane" type="text"
                     name="first_name" id="first_name"
                     formControlName="firstName">
            </div>
            <div class="grid grid-cols-1 px-1 my-2">
              <label class="mb-1" for="last_name">Last Name</label>
              <input class="rounded p-2 border" placeholder="Roe" type="text"
                     name="last_name" id="last_name" formControlName="lastName">
            </div>
            <div class="px-1 my-2 col-span-2">
              <div
                *ngIf="customerInformationForm.controls.firstName.invalid && customerInformationForm.controls.firstName.touched">
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.firstName.errors?.['required']">First
                  name
                  is required.
                </div>
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.firstName.errors?.['minlength']">Minimum
                  length for first name is 2
                  characters.
                </div>
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.firstName.errors?.['maxLength']">Maximum
                  length for first name is 32 characters.
                </div>
              </div>
              <div
                *ngIf="customerInformationForm.controls.lastName.invalid && customerInformationForm.controls.lastName.touched">
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.lastName.errors?.['required']">Last name
                  is required.
                </div>
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.lastName.errors?.['minlength']">Minimum
                  length for last name is 2
                  characters.
                </div>
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.lastName.errors?.['maxLength']">Maximum
                  length for last name is 32 characters.
                </div>
              </div>
            </div>
            <div class="grid grid-cols-1 px-1 my-2 col-span-2">
              <label class="mb-1" for="email">Email Address</label>
              <input class="rounded p-2 border"
                     placeholder="roe@example.com" type="email" name="email" id="email"
                     formControlName="email">
              <div
                *ngIf="customerInformationForm.controls.email.invalid && customerInformationForm.controls.email.touched">
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.email.errors?.['required']">Email
                  is required.
                </div>
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.email.errors?.['email']">
                  You must enter a valid email in the form example@example.com.
                </div>
              </div>
            </div>
            <div class="grid grid-cols-1 px-1 my-2 col-span-2">
              <label class="mb-1" for="shipping_address">Shipping Address</label>
              <input class="rounded p-2 border" placeholder="Planet Earth"
                     type="text"
                     name="shipping_address" id="shipping_address"
                     formControlName="shippingAddress">
              <div
                *ngIf="customerInformationForm.controls.shippingAddress.invalid && customerInformationForm.controls.shippingAddress.touched">
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.shippingAddress.errors?.['required']">
                  Shipping address
                  is required.
                </div>
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.shippingAddress.errors?.['minlength']">
                  Minimum
                  length for shipping address is 2
                  characters.
                </div>
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.shippingAddress.errors?.['maxLength']">
                  Maximum
                  length for shipping address is 32 characters.
                </div>
              </div>
            </div>
            <div class="grid grid-cols-1 px-1 my-2 col-span-2">
              <label class="mb-1" for="credit_card_number">Credit Card Number</label>
              <input class="rounded p-2 border"
                     placeholder="0000 0000 0000 0000" type="text" name="credit_card_number" id="credit_card_number"
                     formControlName="creditCardNumber">
              <div
                *ngIf="customerInformationForm.controls.creditCardNumber.invalid && customerInformationForm.controls.creditCardNumber.touched">
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.creditCardNumber.errors?.['required']">
                  Credit card number
                  is required.
                </div>
                <div class="text-red-500 text-xs mt-1" *ngIf="customerInformationForm.controls.creditCardNumber.errors?.['pattern']">
                  You must enter a 16 digit valid credit card number in the format of 0000 0000 0000 0000.
                </div>
              </div>
            </div>
            <div class="col-span-2 text-right my-2">
              <button
                class="bg-gradient-to-br from-teal-500 to-teal-700 py-2 px-6 text-white rounded-3xl disabled:bg-gradient-to-br disabled:from-gray-500 disabled:to-gray-700"
                type="submit" [disabled]="customerInformationForm.invalid">Submit Order
              </button>
            </div>
          </form>
        </div>
        <!--  Customer information form end -->
      </div>
      <!--  Customer info section start  -->
    </div>
  </div>
  <!--  Non-empty cart component end  -->
</div>
<!--  Cart component end  -->
