<!--  Cart component start  -->
<div class="px-80 py-2">
  <!--  Empty cart message start  -->
  <div class="grid grid-cols-1 justify-items-center mt-72" *ngIf="cart.isEmpty()">
    <div class="">
      <fa-icon [icon]="faShoppingCart" class="text-9xl"></fa-icon>
    </div>
    <div class="text-2xl mt-4 text-gray-400">
      Your cart is empty :(
    </div>
    <div>
      <button class="bg-gradient-to-br from-teal-500 to-teal-700 py-2 px-6 mt-8 text-white rounded-3xl" routerLink="/">
        Continue Shopping
      </button>
    </div>
  </div>
  <!--  Empty cart message end  -->
  <!--  Non-empty cart component start  -->
  <div class="mt-12" *ngIf="!cart.isEmpty()">
    <div class="grid grid-cols-5">
      <!--  Cart product list start  -->
      <div class="col-span-3">
        <!--  Component title start  -->
        <div class="text-4xl uppercase">
          <span>My Cart</span>
        </div>
        <!--  Component title end  -->
        <!--  Product table start -->
        <div class="mt-6">
          <div class="grid grid-cols-5 mb-2">
            <span></span>
            <span class="px-3">Name</span>
            <span class="px-3">Price</span>
            <span class="px-3 col-span-2">Quantity</span>
          </div>
          <div class="grid grid-cols-5 rounded border-t-2 py-3" *ngFor="let cartProduct of cart.cartProducts">
            <!--  Product thumbnail start -->
            <div>
              <img class="h-36 w-24 shadow rounded" ngSrc="{{cartProduct.product.url}}"
                   alt="The preview image of product &quot;{{cartProduct.product.name}}&quot;" height="100"
                   width="200">
            </div>
            <!--  Product thumbnail end -->
            <!--  Product details start -->
            <div class="p-3">
              <span>{{cartProduct.product.name}}</span>
            </div>
            <div class="p-3">
              <span>${{cartProduct.product.price}}</span>
            </div>
            <div class="p-3">
              <span>{{cartProduct.quantity}}</span>
            </div>
            <div class="p-3">
              <fa-icon [icon]="faTrashCan" (click)="removeCartProduct(cartProduct)"></fa-icon>
            </div>
            <!--  Product details end -->
          </div>
          <!--  Cart total start  -->
          <div class="grid grid-cols-2 pt-6 border-t-2 justify-items-end">
            <span class="text-lg font-bold">Total</span>
            <span class="text-lg">${{cart.getCartTotal()}}</span>
          </div>
          <!--  Cart total end  -->
        </div>
        <!--  Product table end -->
      </div>
      <!--  Cart product list end  -->
      <!--  Customer info section start  -->
      <div class="col-span-2 ml-4">
        <div class="text-4xl uppercase">
          <span>Customer Info</span>
        </div>
        <!--  Customer information form start -->
        <div class="px-1 mt-6">
          <form #form="ngForm" (ngSubmit)="submitForm()" class="grid grid-cols-2">
            <div class="grid grid-cols-1 px-1 my-2">
              <label class="mb-1" for="first_name">First Name</label>
              <input required minlength="2" maxlength="32"  class="rounded p-1" placeholder="Jane" type="text" name="first_name" id="first_name" [(ngModel)]="customerInfo.firstName">
            </div>
            <div class="grid grid-cols-1 px-1 my-2">
              <label class="mb-1" for="last_name">Last Name</label>
              <input required minlength="2" maxlength="32"  class="rounded p-1" placeholder="Roe" type="text" name="last_name" id="last_name" [(ngModel)]="customerInfo.lastName">
            </div>
            <div class="grid grid-cols-1 px-1 my-2 col-span-2">
              <label class="mb-1" for="shipping_address">Shipping Address</label>
              <input required minlength="2" maxlength="256"  class="rounded p-1" placeholder="Planet Earth" type="text" name="shipping_address" id="shipping_address"
                     [(ngModel)]="customerInfo.shippingAddress">
            </div>
            <div class="grid grid-cols-1 px-1 my-2 col-span-2">
              <label class="mb-1" for="credit_card_number">Credit Card Number</label>
              <input required minlength="16" maxlength="16" pattern="\d+" class="rounded p-1" placeholder="0000 0000 0000 0000" type="text" name="credit_card_number" id="credit_card_number"
                     [(ngModel)]="customerInfo.creditCardNumber">
            </div>
            <div class="col-span-2 text-right my-2">
              <button class="bg-gradient-to-br from-teal-500 to-teal-700 py-2 px-6 text-white rounded-3xl disabled:bg-gradient-to-br disabled:from-gray-500 disabled:to-gray-700" type="submit" [disabled]="form.invalid">Submit Order</button>
            </div>
          </form>
        </div>
        <!--  Customer information form end -->
      </div>
      <!--  Customer info section start  -->
    </div>
  </div>
  <!--  Non-empty cart component end  -->
</div>
<!--  Cart component end  -->
