<div class="mx-auto grid lg:grid-cols-3 gap-x-12 gap-y-7 px-3 py-2 mt-12">
  <!--  Product list start  -->
  <div *ngFor="let product of products" class="border shadow-md m-1 rounded-xl overflow-hidden bg-white relative">
    <img class="w-full h-96 object-cover" ngSrc="{{product.url}}"
         alt="The preview image of product &quot;{{product.name}}&quot;" height="100" width="200">
    <div class="mx-8 mt-14 mb-10 grid grid-cols-2">
      <div>
        <div class=" text-2xl font-bold uppercase">{{product.name}}</div>
        <div class="text-gray-500">{{product.description}}</div>
      </div>
      <div>

      </div>
    </div>
    <div
      class="bg-gradient-to-br from-teal-600 to-teal-900 text-white text-2xl font-light rounded-md p-4 absolute bottom-28 mx-10 hover:brightness-110">
      <span>${{product.price}}</span>
    </div>
  </div>
  <!--  Product list end  -->
</div>
